<div class="row">
	<form>
		<pp-typeahead
				placeholder="Ingredienser her"
				on-select="addIngredient(ingredient)"></pp-typeahead>
	</form>
	<p>
	<div class="well">
		<div ng-hide="boardState.ingredients.length" class="ingredient">
			<span>Skriv inn ingredienser i boksen over</span>
		</div>
		<div class="ingredient label label-default" ng-repeat="ingredient in boardState.ingredients">
			<span>{{ingredient.name}} </span>
			<button type="button" class="close" ng-click="removeIngredient(ingredient)">
				<span>×</span>
			</button>
		</div>
	</div>
	</p>
</div>
<div class="row">
	<a class="btn btn-default btn-block">Del med noen andre</a>
	<a class="btn btn-primary btn-lg btn-block" ng-click="search()">Søk etter oppskrifter</a>
</div>

