html, body {
	height: 100%;
}

#content {
	height: 100%;
}
#bgimg {
	position: absolute;
	height: 100%;
	width: 100%;
	background: url('/img/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.4;
	z-index:-99;
}

.jumbotron {
	color: white;
	height: 100%;
	background-color: transparent;
	z-index:99;
}

* {-webkit-padding-start: 0px;}
.recipe {
	margin-bottom: 0;
}
ul {
	list-style-type: none;
}

.ingredient {
	display:inline-block;
	margin: 2px;
	font-size: 16px;
}

.ingredient .close {
	margin-left: 4px;
	font-size: 16px;
}

